<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gxxf.Properties.Settings.gxxfConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=gxxf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>